- title "Invitation to be part of the #{AppConfig[:conference_name]} review committee"
.auto_focus

%p Dear #{@reviewer.user.full_name},

%p Thanks for considering being part of the review committee for #{AppConfig[:conference_name]}. Please confirm your choice:

= render 'form'