- title "Invitación para ser parte del comité de evaluación de Ágiles 2011"
.auto_focus

%p Estimado/a #{@reviewer.user.full_name},

%p Gracias por considerar ser parte del comité de revisión de Ágiles 2011. Por favor confirme su elección:

= render 'form'