- title "Convite para participar da equipe de avaliação da #{AppConfig[:conference_name]}"
.auto_focus

%p Olá #{@reviewer.user.full_name},

%p Obrigado por considerar fazer parte da equipe de avaliação da #{AppConfig[:conference_name]}. Por favor confirme sua decisão:

= render 'form'