- title "Invitación para ser parte del comité de evaluación de #{AppConfig[:conference_name]}"
.auto_focus

%p Estimado/a #{@reviewer.user.full_name},

%p Gracias por considerar ser parte del comité de revisión de #{AppConfig[:conference_name]}. Por favor confirme su elección:

= render 'form'