- title "Invitation to be part of the Ágiles 2011 review committee"
.auto_focus

%p Dear #{@reviewer.user.full_name},

%p Thanks for considering being part of the review committee for Ágiles 2011. Please confirm your choice:

= render 'form'