- title('Oops! 404 P치gina no encontrada')

%p Disculpe pero no hemos podido encontrar la p치gina que Ud. est치 buscando. Por favor, vuelva a la #{link_to "p치gina inicial", root_path} e intente nuevamente.